.header{
    padding: 15px 0;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 3;
    &.light{
        background: #82ADE3;
    }
    &__menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-list{
            display: flex;
            gap: 62px;
            align-items: center;
        }
        &-item{
            &-search{
                padding-top: 2px;
            }
            &_multiple{
                padding-left: 20px;
                position: relative;
                &::before{
                    content: '';
                    display: block;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 5px;
                    width: 6px;
                    height: 6px;
                    background: #000;
                    border-radius: 50%;
                }
                &:hover .header__menu-subs{
                    visibility: visible;
                    opacity: 1;
                }
                .header__menu-link{
                    &::after{
                        display: none;
                    }
                }
            }
        }
        &-subs{
            position: absolute;
            top: 100%;
            left: -13.5px;
            visibility: hidden;
            opacity: 0;
            padding: 43px 34px 16px;
            transition: opacity .3s;
        }
        &-sub{
            text-transform: capitalize;
            font-size: 18px;
            &:not(:last-child){
                margin-bottom: 12px;
            }
            position: relative;
            &::before{
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -15px;
                width: 6px;
                height: 6px;
                opacity: 0;
                background: #DF2933;
                border-radius: 50%;
                transition: opacity .3s;
            }
            &:hover{
                &::before{
                    opacity: 1;
                }
            }
            a{
                &::after{
                    display: none;
                }
            }
        }
        &-link{
            color: $textColor;
            font-size: 18px;
            position: relative;
            font-weight: 400;
            display: block;
            &::after{
                content: '';
                display: block;
                position: absolute;
                bottom: -13px;
                left: 0;
                width: 100%;
                opacity: 0;
                height: 1px;
                background: #000;
                transition: opacity .3s, bottom .4s;
            }
            &:hover::after{
                bottom: -7px;
                opacity: 1;
            }
        }
    }
    &.light{
        .header__menu-link{
            color: #fff;
            &::after{
                background: #fff;
            }
        }
        .header__menu-subs{
            background: #82ADE3;
        }
        .header__menu-item_multiple{
            &::before{
                background: #fff;
            }
        }
    }
}