* {
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 80px;
  text-transform: capitalize;
}

h2 {
  font-size: 66px;
  text-transform: capitalize;
}

h3 {
  font-size: 42px;
}

h4 {
  font-size: 28px;
}

h1, h2, h3, h4 {
  font-weight: 300;
  letter-spacing: normal;
  font-family: TestSignifier, sans-serif;
  line-height: 135%;
}

@media (min-width: 768px) {
  .section-title_centered {
    text-align: center;
  }
}

body {
  font-size: 14px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #060D37;
  font-family: "Lato", sans-serif;
}
@media (min-width: 1099px) {
  body {
    font-size: 15px;
  }
}
@media (min-width: 1500px) {
  body {
    font-size: 15px;
  }
}

.container {
  max-width: 1530px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-p .container {
  padding-left: 83px !important;
  padding-right: 83px !important;
}

.btn-icon {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #060D37;
  font-weight: 600;
  text-transform: capitalize;
}
.btn-icon span {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.24), 0px 0px 8px rgba(0, 0, 0, 0.12);
  width: 40px;
  height: 40px;
  background: #0A32E4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background 0.3s;
}
.btn-icon:hover span {
  background: #4359FB;
}
.btn-icon_light {
  color: #fff;
}

@font-face {
  font-family: TestSignifier;
  font-display: swap;
  src: url("../fonts/TestSignifier-Light.woff2") format("woff2"), url("../fonts/TestSignifier-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
.header {
  padding: 15px 0;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 3;
}
.header.light {
  background: #82ADE3;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu-list {
  display: flex;
  gap: 62px;
  align-items: center;
}
.header__menu-item-search {
  padding-top: 2px;
}
.header__menu-item_multiple {
  padding-left: 20px;
  position: relative;
}
.header__menu-item_multiple::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  width: 6px;
  height: 6px;
  background: #000;
  border-radius: 50%;
}
.header__menu-item_multiple:hover .header__menu-subs {
  visibility: visible;
  opacity: 1;
}
.header__menu-item_multiple .header__menu-link:hover::after {
  width: 0;
}
.header__menu-subs {
  position: absolute;
  top: 100%;
  left: -13.5px;
  visibility: hidden;
  opacity: 0;
  padding: 43px 34px 16px;
  transition: opacity 0.3s;
}
.header__menu-sub {
  text-transform: capitalize;
  font-size: 18px;
  position: relative;
}
.header__menu-sub:not(:last-child) {
  margin-bottom: 12px;
}
.header__menu-sub::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -15px;
  width: 6px;
  height: 6px;
  opacity: 0;
  background: #DF2933;
  border-radius: 50%;
  transition: opacity 0.3s;
}
.header__menu-sub:hover::before {
  opacity: 1;
}
.header__menu-sub a:hover::after {
  width: 0;
}
.header__menu-link {
  color: #060D37;
  font-size: 18px;
  position: relative;
  font-weight: 400;
  display: block;
}
.header__menu-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 0;
  height: 1px;
  background: #000;
  transition: width 0.3s;
}
.header__menu-link:hover::after {
  width: 100%;
}
.header.light .header__menu-link {
  color: #fff;
}
.header.light .header__menu-link::after {
  background: #fff;
}
.header.light .header__menu-subs {
  background: #82ADE3;
}
.header.light .header__menu-item_multiple::before {
  background: #fff;
}

.about {
  padding: 135px 0;
}
.about .container {
  display: flex;
  align-items: center;
}
.about__text-col {
  padding-right: 185px;
  flex: 1 1 100%;
}
.about__title {
  max-width: 573px;
  margin-bottom: 18px;
}
.about__text {
  margin-bottom: 18px;
}
.about__img-col {
  flex: 0 0 604px;
}
.about__img {
  width: 100%;
}

.projects__title {
  margin-bottom: 70px;
}
.projects__list {
  height: 796px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.projects__item {
  position: relative;
  color: #fff;
}
.projects__item-title, .projects__item-text, .projects__item-sub {
  position: relative;
  z-index: 3;
}
.projects__item-title {
  letter-spacing: 0.05em;
  margin-bottom: 32px;
}
.projects__item-text {
  padding-left: 16px;
  border-left: 1px solid #DF2933;
  opacity: 0;
  transition: opacity 0.3s;
}
.projects__item-sub {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.95em;
  text-transform: uppercase;
  position: absolute;
  bottom: 33px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.projects__item-inner {
  height: 100%;
  background: url() center/cover no-repeat;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 32px 62px 0;
  transition: height 0.5s ease-in-out;
}
.projects__item-inner::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(14, 20, 36, 0.65);
  transition: backdrop-filter 0.5s;
}
.projects__item:nth-child(5) .projects__item-inner, .projects__item:nth-child(6) .projects__item-inner, .projects__item:nth-child(7) .projects__item-inner, .projects__item:nth-child(8) .projects__item-inner {
  top: unset;
  bottom: 0;
}
.projects__item:hover .projects__item-text {
  opacity: 1;
}
.projects__item:hover .projects__item-inner {
  height: 200%;
  z-index: 4;
}
.projects__item:hover .projects__item-inner::before {
  backdrop-filter: blur(7.5px);
}
.projects__item .btn-icon {
  position: absolute;
  right: 39px;
  bottom: 20px;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hero::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #171D97;
  opacity: 0.3;
}
.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, rgba(14, 20, 36, 0.7) 0%, rgba(14, 20, 36, 0) 18.38%);
}
.hero .container {
  position: relative;
  z-index: 3;
}
.hero__subtitle {
  text-align: center;
  margin-top: 10px;
  font-size: 28px;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #FFFFFF;
}
.hero__scroll {
  position: absolute;
  bottom: 51px;
  left: 50%;
  transform: translatex(-50%);
  text-align: center;
  z-index: 4;
}
.hero__scroll span {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}