* {
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

input:focus-visible::placeholder {
  font-size: 0;
}

button {
  padding: 0;
}

.h1 {
  text-transform: capitalize;
  font-size: 32px;
}
@media (min-width: 1099px) {
  .h1 {
    font-size: 52px;
  }
}
@media (min-width: 1500px) {
  .h1 {
    font-size: 52px;
  }
}

.h2 {
  text-transform: capitalize;
  font-size: 26px;
}
@media (min-width: 1099px) {
  .h2 {
    font-size: 42px;
  }
}
@media (min-width: 1500px) {
  .h2 {
    font-size: 42px;
  }
}

.h3 {
  font-size: 20px;
}
@media (min-width: 1099px) {
  .h3 {
    font-size: 32px;
  }
}
@media (min-width: 1500px) {
  .h3 {
    font-size: 32px;
  }
}

.h4 {
  font-size: 18px;
}
@media (min-width: 1099px) {
  .h4 {
    font-size: 24px;
  }
}
@media (min-width: 1500px) {
  .h4 {
    font-size: 28px;
  }
}

h1, h2, h3, h4 {
  font-weight: 300;
  letter-spacing: normal;
  font-family: TestSignifier, sans-serif;
  line-height: 135%;
}

.section-title span {
  font-style: italic;
}
@media (min-width: 768px) {
  .section-title_centered {
    text-align: center;
  }
}

body {
  font-size: 14px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #060D37;
  font-family: "Lato", sans-serif;
}
@media (min-width: 1099px) {
  body {
    font-size: 14px;
  }
}
@media (min-width: 1500px) {
  body {
    font-size: 15px;
  }
}

@media (min-width: 1099px) {
  .laptop-text-small {
    font-size: 14px;
  }
}
@media (min-width: 1500px) {
  .laptop-text-small {
    font-size: 15px;
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 1099px) {
  .container {
    max-width: 1230px;
  }
}
@media (min-width: 1500px) {
  .container {
    max-width: 1530px;
  }
}

.wrapper {
  position: relative;
  overflow: hidden;
}

@media (min-width: 1099px) {
  .section-p .container {
    padding-left: 110px !important;
    padding-right: 110px !important;
  }
}
@media (min-width: 1500px) {
  .section-p .container {
    padding-left: 83px !important;
    padding-right: 83px !important;
  }
}

@media (min-width: 1500px) {
  .section-p-desktop .container {
    padding-left: 83px !important;
    padding-right: 83px !important;
  }
}

section.bg {
  background: #F8F9FE;
}

.btn-icon {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #060D37;
  font-weight: 600;
  text-transform: capitalize;
}
.btn-icon span {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.24), 0px 0px 8px rgba(0, 0, 0, 0.12);
  width: 40px;
  height: 40px;
  background: #0A32E4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background 0.3s;
  position: relative;
  overflow: hidden;
}
.btn-icon img {
  transform: translateX(50%);
  right: 50%;
  position: absolute;
}
.btn-icon:hover span {
  background: #4359FB;
}
.btn-icon:hover span img {
  animation: hover 1.2s ease-in-out forwards;
}
.btn-icon_light {
  color: #fff;
}

@keyframes hover {
  0% {
    right: 50%;
  }
  25% {
    right: -20px;
  }
  75% {
    right: unset;
    left: -20px;
  }
  100% {
    left: 50%;
    transform: translateX(-50%);
  }
}
.btn-icon-circle {
  width: 40px;
  height: 40px;
  background: #0A32E4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background 0.3s;
}
.btn-icon-circle:hover {
  background: #4359FB;
}

@font-face {
  font-family: TestSignifier;
  font-display: swap;
  src: url("../fonts/TestSignifier-Light.woff2") format("woff2"), url("../fonts/TestSignifier-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  z-index: 99;
}
.header.light {
  background: #82ADE3;
}
.header .container {
  position: relative;
}
.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  height: 75%;
  overflow: hidden;
  transition: height 0.3s;
}
.header__logo img {
  height: 100%;
  width: auto;
}
.header_scrolled .header__logo img {
  height: 120%;
  margin-top: auto;
}
.header__menu {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: min-height 0.3s;
}
.header__menu-list {
  display: flex;
  gap: 62px;
  align-items: center;
}
.header__menu form {
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 0px;
  visibility: hidden;
  height: 100%;
  transition: width 0.4s;
}
.header__menu form.active {
  visibility: visible;
  width: 130px;
}
.header__menu input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  color: #fff;
  padding-right: 27px;
  padding-bottom: 11px;
}
.header__menu-item_search {
  padding-top: 2px;
  position: relative;
}
.header__menu-item_search a {
  position: relative;
  z-index: 4;
}
.header__menu-item_multiple {
  padding-left: 20px;
  position: relative;
}
.header__menu-item_multiple::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  width: 6px;
  height: 6px;
  background: #000;
  border-radius: 50%;
}
.header__menu-item_multiple:hover .header__menu-subs {
  visibility: visible;
  opacity: 1;
}
.header__menu-item_multiple .header__menu-link::after {
  display: none;
}
.header__menu-subs {
  position: absolute;
  top: 100%;
  left: -13.5px;
  visibility: hidden;
  opacity: 0;
  padding: 43px 34px 16px;
  transition: opacity 0.3s;
  background: #fff;
}
.header__menu-sub {
  text-transform: capitalize;
  position: relative;
}
@media (min-width: 1099px) {
  .header__menu-sub {
    font-size: 14px;
  }
}
@media (min-width: 1500px) {
  .header__menu-sub {
    font-size: 18px;
  }
}
.header__menu-sub:not(:last-child) {
  margin-bottom: 12px;
}
.header__menu-sub::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -15px;
  width: 6px;
  height: 6px;
  opacity: 0;
  background: #DF2933;
  border-radius: 50%;
  transition: opacity 0.3s;
}
.header__menu-sub:hover::before {
  opacity: 1;
}
.header__menu-sub a::after {
  display: none;
}
.header__menu-link {
  color: #060D37;
  position: relative;
  font-weight: 400;
  display: block;
}
@media (min-width: 1099px) {
  .header__menu-link {
    font-size: 14px;
  }
}
@media (min-width: 1500px) {
  .header__menu-link {
    font-size: 18px;
  }
}
.header__menu-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -13px;
  left: 0;
  width: 100%;
  opacity: 0;
  height: 1px;
  background: #000;
  transition: opacity 0.3s, bottom 0.4s;
}
.header__menu-link:hover::after {
  bottom: -7px;
  opacity: 1;
}
.header_scrolled .header__menu {
  min-height: 60px;
}
.header.light .header__menu-link {
  color: #fff;
}
.header.light .header__menu-link::after {
  background: #fff;
}
.header.light .header__menu-subs {
  background: #82ADE3;
}
.header.light .header__menu-item_multiple::before {
  background: #fff;
}

.footer {
  padding-top: 60px;
}
.footer-middle {
  align-items: center;
}
@media (min-width: 1099px) {
  .footer-middle {
    padding-bottom: 93px;
    margin-top: -20px;
  }
}
@media (min-width: 768px) {
  .footer-middle .container {
    display: flex;
    justify-content: space-between;
  }
}
.footer-main {
  display: flex;
}
.footer-main__col_1 {
  flex: 0 0 300px;
}
.footer__text {
  margin: 15px 0;
}
@media (min-width: 1099px) {
  .footer__text {
    font-size: 15px;
  }
}
@media (min-width: 1500px) {
  .footer__text {
    font-size: 17px;
  }
}
.footer__list {
  flex: 1 1 100%;
  padding-left: 23vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer__item-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #171D97;
  margin-bottom: 20px;
}
.footer__item ul:not(.footer__socials) li a {
  cursor: pointer;
  position: relative;
}
.footer__item ul:not(.footer__socials) li a::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -7px;
  opacity: 0;
  background: #060D37;
  transition: opacity 0.3s, bottom 0.4s;
}
.footer__item ul:not(.footer__socials) li a:hover::before {
  opacity: 1;
  bottom: -3px;
}
@media (min-width: 1099px) {
  .footer__item ul:not(.footer__socials) li {
    font-size: 15px;
  }
}
@media (min-width: 1500px) {
  .footer__item ul:not(.footer__socials) li {
    font-size: 17px;
  }
}
.footer__item ul:not(.footer__socials) li:not(:last-child) {
  margin-bottom: 15px;
}
.footer__item-link {
  display: flex;
  gap: 9px;
  align-items: center;
  margin-bottom: 15px;
  color: #060D37;
  position: relative;
}
.footer__item-link::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -7px;
  opacity: 0;
  background: #060D37;
  transition: opacity 0.3s, bottom 0.4s;
}
.footer__item-link:hover::before {
  opacity: 1;
  bottom: -3px;
}
@media (min-width: 1099px) {
  .footer__item-link {
    font-size: 15px;
  }
}
@media (min-width: 1500px) {
  .footer__item-link {
    font-size: 17px;
  }
}
.footer__socials {
  display: flex;
  align-items: center;
  gap: 25px;
}
.footer__socials-link {
  width: 36px;
  height: 36px;
  background: #DADBE1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.footer__socials-img {
  height: 16.5px;
  width: auto;
}
.footer-bottom {
  padding: 12px 0;
  border-top: 1px solid #C1C3CD;
}
.footer-bottom .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__copy {
  color: #060D37;
  color: rgba(6, 13, 55, 0.25);
  font-weight: 400;
}
.footer__ursa {
  display: flex;
  gap: 18px;
}
.footer__ursa span {
  color: rgba(6, 13, 55, 0.25);
  font-weight: 400;
}

/**
 * Swiper 8.4.5
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2022 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: November 21, 2022
 */
@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  touch-action: pan-y;
}
.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}

/* 3D Effects */
.swiper-3d, .swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}
.swiper-3d .swiper-wrapper,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}
.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}
.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  width: var(--swiper-centered-offset-after);
}
.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}
.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  height: var(--swiper-centered-offset-after);
}
.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}

@media (min-width: 1099px) {
  .about {
    padding: 120px 0;
  }
}
@media (min-width: 1500px) {
  .about {
    padding: 135px 0;
  }
}
.about .container {
  display: flex;
  align-items: center;
}
.about__text-col {
  padding-right: 185px;
  flex: 1 1 100%;
}
@media (max-width: 1500px) {
  .about__text-col {
    padding-right: 10px;
    flex: 0 0 50%;
  }
}
.about__title {
  margin-bottom: 18px;
}
.about__text {
  margin-bottom: 18px;
}
.about__img-col {
  flex: 0 0 604px;
}
@media (max-width: 1500px) {
  .about__img-col {
    flex: 0 0 50%;
    height: 374px;
    padding-left: 30px;
  }
}
.about__img {
  width: 100%;
}
@media (max-width: 1500px) {
  .about__img {
    height: 100%;
    object-fit: cover;
  }
}
.about_reverse .container {
  flex-direction: row-reverse;
}
.about_reverse .about__text-col {
  padding-left: 185px;
  padding-right: 0;
}
@media (max-width: 1500px) {
  .about_reverse .about__text-col {
    padding-left: 40px;
  }
}

.overview .container {
  max-width: 800px;
}
@media (min-width: 1099px) {
  .overview {
    padding: 0 0 122px 0;
  }
}
.overview__text {
  max-width: 643px;
}
@media (min-width: 768px) {
  .overview__text {
    text-align: center;
    margin: 20px auto 0;
  }
}
.overview__main {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.overview__main-img {
  width: 50%;
  position: relative;
}
.overview__main-img h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  width: 88px;
  text-align: center;
  text-transform: capitalize;
}
.overview__main-img svg {
  width: 100%;
  transition: all 0.3s;
}
.overview__main-img svg path {
  position: relative;
}
.overview__main-img svg path:hover {
  stroke-width: 12;
  stroke: #0A32E4;
  z-index: 3;
}
.overview__main-img svg path.path-2:hover {
  stroke: #9CABF2;
}
.overview__main-img svg path.path-3:hover {
  stroke: #627CEE;
}
.overview__main-title {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 6px;
}
.overview__main-title span {
  font-size: 18px;
  color: #0A32E4;
}
.overview__main-block {
  position: absolute;
  top: 51px;
  max-width: 184px;
  font-size: 14px;
}
.overview__main-block::before {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 110px;
  background: #0A32E4;
  left: -120px;
  top: 13px;
}
.overview__main-block_left {
  left: 0;
  text-align: right;
}
.overview__main-block_left .overview__main-title {
  flex-direction: row-reverse;
}
.overview__main-block_left::before {
  left: unset;
  right: -120px;
}
.overview__main-block_right {
  right: 0;
}
.overview__main-block:last-child {
  right: 0;
  top: unset;
  bottom: 30%;
}
.overview__main-block:last-child::before {
  width: 66px;
  left: -76px;
}

@media (min-width: 1099px) {
  .projects__title {
    margin-bottom: 52px;
  }
}
@media (min-width: 1500px) {
  .projects__title {
    margin-bottom: 70px;
  }
}
.projects__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (min-width: 1099px) {
  .projects__list {
    height: 600px;
  }
}
.projects__item {
  position: relative;
  color: #fff;
}
.projects__item-title, .projects__item-text, .projects__item-sub {
  position: relative;
  z-index: 3;
}
.projects__item-title {
  letter-spacing: 0.05em;
  margin-bottom: 32px;
}
.projects__item-text {
  padding-left: 16px;
  border-left: 1px solid #82869B;
  opacity: 0;
  transition: opacity 0.3s;
}
.projects__item-sub {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.95em;
  text-transform: uppercase;
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  transition: width 0.3s, bottom 0.3s;
  transition-delay: 0.1s;
}
@media (min-width: 1099px) {
  .projects__item-sub {
    width: 100%;
    bottom: 20px;
  }
}
.projects__item-inner {
  height: 100%;
  background: url() center/cover no-repeat;
  transition: height 0.5s ease-in-out;
}
@media (min-width: 1099px) {
  .projects__item-inner {
    padding: 23px 90px 0 40px;
  }
}
.projects__item-inner::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(14, 20, 36, 0.65);
  transition: backdrop-filter 0.5s;
}
.projects__item:hover .projects__item-text {
  opacity: 1;
}
.projects__item:hover .projects__item-inner::before {
  backdrop-filter: blur(7.5px);
}
.projects__item .btn-icon {
  position: absolute;
  right: 39px;
  bottom: 20px;
}

.projects.projects_big .projects__title {
  margin-bottom: 70px;
}
.projects.projects_big .projects__list {
  height: 796px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
@media (min-width: 1099px) {
  .projects.projects_big .projects__list {
    height: 600px;
  }
}
@media (min-width: 1500px) {
  .projects.projects_big .projects__list {
    height: 796px;
  }
}
.projects.projects_big .projects__item {
  position: relative;
  color: #fff;
}
.projects.projects_big .projects__item-title, .projects.projects_big .projects__item-text, .projects.projects_big .projects__item-sub {
  position: relative;
  z-index: 3;
}
.projects.projects_big .projects__item-title {
  letter-spacing: 0.05em;
  margin-bottom: 32px;
}
.projects.projects_big .projects__item-text {
  padding-left: 16px;
  border-left: 1px solid #82869B;
  opacity: 0;
  transition: opacity 0.3s;
}
.projects.projects_big .projects__item-sub {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.95em;
  text-transform: uppercase;
  position: absolute;
  bottom: 33px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
@media (min-width: 1099px) {
  .projects.projects_big .projects__item-sub {
    width: 170px;
    bottom: -15px;
  }
}
@media (min-width: 1500px) {
  .projects.projects_big .projects__item-sub {
    width: 100%;
    bottom: 33px;
  }
}
.projects.projects_big .projects__item-inner {
  height: 100%;
  background: url() center/cover no-repeat;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: height 0.5s ease-in-out;
}
@media (min-width: 1099px) {
  .projects.projects_big .projects__item-inner {
    padding: 23px 30px 0 30px;
  }
}
.projects.projects_big .projects__item-inner::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(14, 20, 36, 0.65);
  transition: backdrop-filter 0.5s;
}
.projects.projects_big .projects__item:nth-child(5) .projects__item-inner, .projects.projects_big .projects__item:nth-child(6) .projects__item-inner, .projects.projects_big .projects__item:nth-child(7) .projects__item-inner, .projects.projects_big .projects__item:nth-child(8) .projects__item-inner {
  top: unset;
  bottom: 0;
}
.projects.projects_big .projects__item:hover .projects__item-text {
  opacity: 1;
}
.projects.projects_big .projects__item:hover .projects__item-inner {
  height: 200%;
  z-index: 4;
}
.projects.projects_big .projects__item:hover .projects__item-inner::before {
  backdrop-filter: blur(7.5px);
}
.projects.projects_big .projects__item .btn-icon {
  position: absolute;
  right: 39px;
  bottom: 20px;
}

@media (min-width: 1099px) {
  .logos {
    padding: 130px 0;
  }
}
.logos__list {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 25px;
}
@media (min-width: 576px) {
  .logos__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .logos__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1099px) {
  .logos__list {
    grid-template-columns: repeat(5, 1fr);
    margin-top: 50px;
    gap: 30px;
  }
}
@media (min-width: 1300px) {
  .logos__list {
    gap: 40px 60px;
  }
}
.logos__list a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.logos__list a img {
  width: 100%;
  height: auto;
}

.company {
  position: relative;
}
@media (min-width: 1099px) {
  .company {
    padding: 120px 0;
  }
}
.company::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  bottom: 230px;
  left: 0;
  height: 1px;
  background: rgba(6, 13, 55, 0.2);
}
.company__swiper {
  width: calc(100% - 300px);
  margin: 0 auto;
  padding-top: 40px;
}
.company__text {
  margin: 20px auto 140px;
  max-width: 643px;
  text-align: center;
}
.company__inner {
  position: relative;
}
.company__ruler {
  position: absolute;
  bottom: 125px;
}
@media (min-width: 1099px) {
  .company__ruler_left {
    left: 105px;
  }
}
@media (min-width: 1500px) {
  .company__ruler_left {
    left: 90px;
  }
}
@media (min-width: 1099px) {
  .company__ruler_right {
    right: 105px;
  }
}
@media (min-width: 1500px) {
  .company__ruler_right {
    right: 90px;
  }
}
.company__prev, .company__next {
  position: absolute;
  top: calc(50% - 115px);
  transform: translateY(50%);
}
.company__prev {
  transform: rotate(180deg);
  transform-origin: 50% 75%;
}
@media (min-width: 1099px) {
  .company__prev {
    left: 40px;
  }
}
@media (min-width: 1500px) {
  .company__prev {
    left: 20px;
  }
}
@media (min-width: 1099px) {
  .company__next {
    right: 40px;
  }
}
@media (min-width: 1500px) {
  .company__next {
    right: 20px;
  }
}
.company__img {
  position: relative;
  height: 400px;
  width: 100%;
}
.company__slide {
  text-align: center;
  position: relative;
}
.company__slide-title {
  font-size: 20px;
  text-transform: capitalize;
  margin: 0 auto 5px;
  max-width: 212px;
  font-family: TestSignifier, sans-serif;
}
.company__slide img {
  width: 120px;
  height: auto;
  display: block;
  margin: 0 auto 30px;
  transition: width 0.5s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.company__slide.swiper-slide-active + .swiper-slide img {
  width: 180px;
}
.company__slide.swiper-slide-active + .swiper-slide .company__slide-title {
  text-decoration: underline;
}
.company__slide.swiper-slide-active + .swiper-slide .company__info {
  right: -10px;
  opacity: 1;
}
.company__info {
  position: absolute;
  text-align: left;
  opacity: 0;
  transition: opacity 0.3s, right 0.4s;
  transition-delay: 0.3s;
}
@media (min-width: 1099px) {
  .company__info {
    right: -65px;
    top: -30px;
  }
}
@media (min-width: 1500px) {
  .company__info {
    right: -40px;
    top: -10px;
  }
}
.company__info-text:not(:last-child) {
  margin-bottom: 1px;
}
.company__info-text_bold {
  font-weight: 400;
  text-transform: uppercase;
}
.company__subtitle {
  text-transform: capitalize;
}

.main-block {
  padding-top: 174px;
}
.main-block__img {
  width: 100%;
  transform: scale(0.83);
  height: 100vh;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.main-block__content {
  max-width: 526px;
  margin: 0 auto 70px;
  text-align: center;
}
.main-block__title {
  max-width: 464px;
  margin: 0 auto;
}

.team-member {
  position: relative;
}
.team-member__zone {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  z-index: 4;
}
.team-member__zone_1 {
  left: 0;
}
.team-member__zone_2 {
  right: 0;
}
@media (min-width: 1099px) {
  .team-member {
    padding: 120px 0 120px;
  }
}
.team-member__swiper {
  position: relative;
  padding-top: 50px;
  margin: 0 -40px;
}
.team-member__slide {
  display: grid;
  padding-left: 40px;
  padding-right: 40px;
  grid-template-columns: 212px auto;
}
@media (min-width: 1099px) {
  .team-member__slide {
    padding-bottom: 40px;
  }
}
.team-member__img {
  height: 212px;
  object-fit: cover;
}
.team-member__text-content {
  letter-spacing: normal;
  line-height: 150%;
  font-weight: 500;
  position: relative;
}
@media (min-width: 1099px) {
  .team-member__text-content {
    padding-right: 115px;
  }
}
@media (min-width: 1500px) {
  .team-member__text-content {
    padding-right: 150px;
  }
}
.team-member__text-content::before {
  content: "";
  display: block;
  width: 45.86px;
  height: 34.8px;
  top: 0;
  background: url(../../img/global/quotes.svg) center/cover no-repeat;
  position: absolute;
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}
@media (min-width: 1099px) {
  .team-member__text-content::before {
    left: -60px;
  }
}
@media (min-width: 1500px) {
  .team-member__text-content::before {
    left: -85px;
  }
}
.team-member__text-content::after {
  content: "";
  display: block;
  width: 45.86px;
  height: 34.8px;
  bottom: -4px;
  right: 22px;
  background: url(../../img/global/quotes.svg) center/cover no-repeat;
  position: absolute;
}
@media (min-width: 1099px) {
  .team-member__text-content {
    font-size: 26px;
    margin-bottom: 71px;
  }
}
@media (min-width: 1500px) {
  .team-member__text-content {
    font-size: 28px;
  }
}
@media (min-width: 1099px) {
  .team-member__text {
    padding: 45px 0 0 112px;
  }
}
@media (min-width: 1500px) {
  .team-member__text {
    padding: 45px 0 0 174px;
  }
}
.team-member__pagination {
  display: flex;
  gap: 3px;
}
@media (min-width: 1099px) {
  .team-member__pagination {
    padding-left: 361px;
  }
}
@media (min-width: 1500px) {
  .team-member__pagination {
    padding-left: 422px;
  }
}
.team-member__pagination span {
  height: 30px;
  width: 50px;
  position: relative;
}
.team-member__pagination span::before {
  content: "";
  display: block;
  position: absolute;
  width: 42.83px;
  height: 4px;
  background: #BFBFBF;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background 0.3s;
}
.team-member__pagination span.swiper-pagination-bullet-active::before {
  background: #0A32E4;
}
.team-member__prev, .team-member__next {
  position: absolute;
  z-index: 3;
}
@media (min-width: 1099px) {
  .team-member__prev, .team-member__next {
    top: 20%;
  }
}
@media (min-width: 1500px) {
  .team-member__prev, .team-member__next {
    top: 0;
  }
}
.team-member__prev {
  left: 346px;
  transform: rotate(180deg);
}
@media (min-width: 1099px) {
  .team-member__next {
    right: 90px;
  }
}
@media (min-width: 1500px) {
  .team-member__next {
    right: 265px;
  }
}

.stay-know {
  margin-top: -5px;
  background: #171D97;
  color: #fff;
  padding: 112px 0;
  height: 100vh;
}
.stay-know .h2 {
  margin-bottom: 18px;
}
.stay-know .container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.stay-know__list {
  height: 100%;
  position: relative;
  overflow-y: scroll;
}
@media (min-width: 1099px) {
  .stay-know__list {
    margin-top: 24px;
  }
}
.stay-know__list::-webkit-scrollbar {
  width: 8px;
}
.stay-know__list::-webkit-scrollbar-track {
  background-color: transparent;
}
.stay-know__list::-webkit-scrollbar-thumb {
  background: rgba(6, 13, 55, 0.4);
  border-radius: 70px;
}
.stay-know__item {
  padding: 24px 0;
  border-top: 1px solid #fff;
}
.stay-know__item:last-child {
  border-bottom: 1px solid #fff;
}
.stay-know__item-text {
  margin-bottom: 16px;
}
.stay-know__item-title {
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
}
.stay-know__text {
  max-width: 407px;
}

@media (min-width: 1099px) {
  .key-sectors {
    padding: 92px 0;
  }
}
.key-sectors .container {
  display: flex;
  align-items: center;
}
@media (min-width: 1099px) {
  .key-sectors__col_1 {
    flex: 0 0 371px;
  }
}
@media (min-width: 1099px) {
  .key-sectors__col_2 {
    flex: 1 1 100%;
    padding-left: 85px;
  }
}
@media (min-width: 1099px) {
  .key-sectors__title {
    margin-bottom: 20px;
  }
}
.key-sectors__groups {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.key-sectors__group-item {
  margin-top: 12px;
  text-transform: capitalize;
  padding-right: 45px;
}
.key-sectors__group-item a {
  color: #171D97;
  font-weight: 500;
  text-decoration: underline;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hero::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #171D97;
  opacity: 0.3;
}
.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, rgba(14, 20, 36, 0.7) 0%, rgba(14, 20, 36, 0) 18.38%);
}
.hero .container {
  position: relative;
  z-index: 3;
}
.hero__subtitle {
  text-align: center;
  margin-top: 10px;
  font-size: 28px;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #FFFFFF;
}
.hero__scroll {
  position: absolute;
  bottom: 51px;
  left: 50%;
  transform: translatex(-50%);
  text-align: center;
  z-index: 4;
}
.hero__scroll span {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

.cursor {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0A32E4;
  transition: all 100ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  visibility: hidden;
  opacity: 1;
  z-index: 6;
}
.cursor img {
  transition: transform 0.5s;
}
.cursor.left img {
  transform: rotate(-180deg);
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #a8bbbf;
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}