// null styles
*{
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
    padding-left: 0;
}

a{
    text-decoration: none;
}

input:focus-visible::placeholder{
    font-size: 0;
}
// =====================================================================

// titles styles
.h1{
    text-transform: capitalize;
    font-size: $h1Mob;
    @media (min-width: 1099px) {
        font-size: $h1Lap;
    }
    @media (min-width: 1500px) {
        font-size: $h1;
    }
}

.h2{
    text-transform: capitalize;
    font-size: $h2Mob;
    @media (min-width: 1099px) {
        font-size: $h2Lap;
    }
    @media (min-width: 1500px) {
        font-size: $h2;
    }
}

.h3{
    font-size: $h3Mob;
    @media (min-width: 1099px) {
        font-size: $h3Lap;
    }
    @media (min-width: 1500px) {
        font-size: $h3;
    }
}

.h4{
    font-size: $h4Mob;
    @media (min-width: 1099px) {
        font-size: $h4Lap;
    }
    @media (min-width: 1500px) {
        font-size: $h4;
    }
}

h1, h2, h3, h4{
    font-weight: 300;
    letter-spacing: normal;
    font-family: $titlesFont;
    line-height: 135%;
}
.section-title{
    &_centered{
        @media (min-width: 768px) {
            text-align: center;
        }
    }
}
// =====================================================================

// text styles
body{
    font-size: $mobileFontSize;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: $textColor;
    font-family: $mainFont;
    @media (min-width: 1099px) {
        font-size: $laptopFontSize;
    }
    @media (min-width: 1500px) {
        font-size: $desktopFontSize;
    }
}
// =====================================================================

// container
.container{
    padding: 0 $containerPadding;
    margin: 0 auto;
    @media (min-width: 1099px) {    
        max-width: $containerWidthLaptop + (2 * $containerPadding);
    }
    @media (min-width: 1500px) {    
        max-width: $containerWidth + (2 * $containerPadding);
    }
}
// =====================================================================

// sections
.section-p{
    .container{
        @media (min-width: 1099px) {
            padding-left: 110px !important;
            padding-right: 110px !important;
        }
        @media (min-width: 1500px) {
            padding-left: 83px !important;
            padding-right: 83px !important;
        }
    }
}
section.bg{
    background: $grey2;
}
// =====================================================================

// buttons
@import 'common/btns';
// =====================================================================